@{
    ViewData["Title"] = "لوحة التحكم";
    Layout = "~/Areas/Dashboard/Views/Shared/_Dashboard.cshtml";

}
<div class="dashData">
    <div class="container">
        <div class="boxN">
            <i class="fas fa-boxes fa-3x"></i>
            <h3>الأقسام الرئيسية</h3>
            <div class="info">
                <a asp-area="Dashboard" asp-controller="Category" asp-action="Index">التفاصيل</a>
            </div>
        </div>
    </div>
</div>

