@model CombainLists
@{
    ViewData["Title"] = "المنتجات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category" id="products">
    <div class="container">
        <h2 class="main-title">المنتجات</h2>
        <div class="wrapper-cat">
            @foreach (var category in Model.Categories!)
            {
                <div class="box-cat">
                    <a asp-area="" asp-controller="Products" asp-action="Product" asp-route-Id="@category.Id">
                        <div class="test-cat">
                            <img class="img-cat" src="@($"{ImageSettings.ImagesPath}/{category.ImagePath}")" alt="">
                            <div class="over">
                                <p class="para-cat">@category.Name</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
            
        </div>
        <div class="btns-cat">
            <span><i class="fa fa-arrow-right"></i></span>
            <span><i class="fa fa-arrow-left"></i></span>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/product.js" asp-append-version="true"></script>
}

